/*font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: 'Quicksand', sans-serif;
  color: #5c4747;
  background: radial-gradient(
      #dcebdf,
      #c2d9cb,
      #afd9c8,
      #a2ab96,
      #6b6d50
    );
}

h1 {
  color: #edc554 !important;
  margin-bottom: 5%;
  margin-top: 5%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.53);
}

 h2 {
  color: #ead24;
}

form {
  display: flex;
  justify-content: space-around;
  width: inherit;
}

img {
  margin-top: 8%;
  width: 50%;
  height: 50%;
}

label {
  font-style: Bold;
  color: #5c4747;
}

.receive-message, .clear-message {
  background-color: #134d71;
  color: #f7e4bf;
  height: 3vh;
  width: 11vw;
  margin-bottom: 2%;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
  cursor:pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.53);
}

.receive-message:hover {
  color: #edc554;
}

.clear-message {
  width: 7vw;
  margin-bottom: 8%;
}

.clear-message:hover {
  color: #edc554;
}

.middle-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 0;
  margin-left: 30%;
  margin-right: 30%;
  height: 213px;
  width: 35vw;
  border-radius: 15px;
  align-items: center;
}

.bottom-section {
  height: 250px;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  margin-bottom: 10%;
}

.full-message {
  text-align: center;
  color: #5c4747 !important;
}

.fade-in-image {
  animation: fadeIn 1.5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.fade-in-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #f7e4bf;
  animation: fadeIn linear 1.5s;
}

.hidden {
  display: none;
}
